
<%- include('partials/header') %>

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">

  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/main">Grupogamex</a>
  <!-- Este botón se muestra cuando la pantalla es mas chica -->
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- SECCIÓN DEL NAVBAR TOP, USER Y LOGOUT -->
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <ul >
        <li><a href="/profile"><%= usuario.nb_usuario %></a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>

</header>


<div class="container-fluid">
  <div class="row">

    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">

        <!-- SECCION DE VISTAS DEPENDIENDO DEL USUARIO-->

        <ul class="nav flex-column">

          <% if (usuario.tp_usuario ==='Admin') { %>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>VIEWS</span>
            </h6>

            <li class="nav-item"><a class="nav-link" href="/compras">Nuevo Pedido</a></li>
            <li class="nav-item"><a class="nav-link" href="/listapedidos">Lista de Pedidos</a></li>
            <li class="nav-item"><a class="nav-link" href="/almacen">Almacén</a></li>

            <!-- SECCION ADMIN -->
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>ADMIN</span>
            </h6>
            <ul class="nav flex-column">
              <li class="nav-item"><a class="nav-link" href="/materiales" id="nav-admin-materiales">Catálogo de materiales</a></li>
              <li class="nav-item"><a class="nav-link" href="/usuarios" id="nav-admin-usuarios">Administrar usuarios</a></li>
            </ul>

            <!-- SECCION DASHBOARD -->
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>DASHBOARD</span>
            </h6>
            <ul class="nav flex-column">
              <li class="nav-item"><a class="nav-link" href="#">Report1</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Report2</a></li>
            </ul>

          <%} else if (usuario.tp_usuario ==='Compras') { %>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>COMPRAS</span>
            </h6>
            <li class="nav-item"><a class="nav-link" href="/compras">Nuevo Pedido</a></li>
            <li class="nav-item"><a class="nav-link" href="listapedidos">Lista de Pedidos</a></li>

          <%} else if (usuario.tp_usuario ==='Almacén') { %>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>ALMACEN</span>
            </h6>
            <li class="nav-item"><a class="nav-link" href="#">Almacén</a></li>
          <% } %>

        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <div class="d-flex pt-3 pb-2 mb-3">
        <!-- solo para dar un espacio between -->
      </div>

      <!-- Acá van las vistas -->
      <div class="container">

        <div id ="vista-home-inicio" class=<%= vistaInicio %>>
          <%- include('start') %>
        </div>

        <div id ="vista-home-compras" class=<%= vistaCompras %>>
          <%- include('compras') %>
        </div>

        <div id ="vista-home-listapedidos" class=<%= vistaListaPedidos %>>
          <%- include('listapedidos') %>
        </div>

        <div id ="vista-home-almacen" class=<%= vistaAlmacen %>>
          <%- include('almacen') %>
        </div>

        <div  id="vista-admin-materiales" class=<%= vistaMateriales %>>
          <%- include('materiales') %>
        </div>

        <div id ="vista-admin-usuarios" class=<%= vistaUsuarios %>>
          <%- include('usuarios') %>
        </div>

        <div id ="vista-admin-profile" class=<%= vistaProfile %>>
          <%- include('profile') %>
        </div>
        
      </div>
      


    </main>
  </div>
</div>

<%- include('partials/footer') %>
